<div class="container">
    <h1 class="text-center my-4">Pantalla de resultados</h1>

    <div class="d-flex justify-content-start ">
        <button class="button-result mr-1 active-button" type="button" name="coach">Entrenadores</button>
        <button class="button-result" type="button" name="assessment">Valoración del conjunto</button>
    </div>
    <div class="row mx-0 container-coach">
        {{!-- {{#each coach}} --}}
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    Entrenador 1

                    <span class="card-information" data-toggle="tooltip" data-placement="bottom"
                        title="Hooray!">i</span>
                </div>
                <div class="card-body">

                    <img src="/images/avatar.png" alt="Avatar" class="avatar">
                    <div class="container-text float-right">
                        <h6 class="card-title">Nombre del entrenador</h6>
                        <div class="card-text">
                            <div>Clientes asignados:</div>
                            <ul class="list">
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    4 clientes asignados
                </div>
            </div>
        </div>


    </div>
    <div class="d-flex justify-content-end my-4">
        <a href="/" type="button" class="btn btn-outline-dark float-right d-md-100 mr-3 px-4 py-1">Volver</a>
    </div>
</div>